<div class="container mt-5">
    <div class="row">
         <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">
                      <i class="fa-solid fa-plus me-1"></i>
                      <span>NUEVO</span>
                    </button>
                    <table *ngIf="listProductos.length > 0" class="table table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider">
                          <tr *ngFor="let producto of listProductos">
                            <td>{{ producto.Id }}</td>
                            <td>{{ producto.Name }}</td>
                            <td>{{ producto.Description }}</td>
                            <td>{{ producto.Quantity }}</td>
                            <td>
                                <i [routerLink]="['/editar-producto', producto.Id]" class="fa-solid fa-pen-to-square text-primary icon-btn"></i>
                                <i (click)="eliminarProducto(producto.Id)" class="fa-solid fa-trash text-danger icon-btn"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>
                </div>
            </div>
         </div>
    </div>
</div>